
/* Page colours */
$white: #FFFFFF;
$blue: #4056A1;
$mustard: #d79922;
$red: red;
$border-brown: #545149;
$box-shadow: grey;

/* Geometric background */
$transparent-cubes: url("../images/cubes.png");

/* Fonts */
$source-sans: 'Source Sans Pro', sans-serif;
$bungee: 'Bungee', sans-serif;

/* Displays */
$flex-box: flex;
$flex-grid: grid;

/* Recurring Values */
$none: none;
$hidden: hidden;
