@use 'variables';

/* NESTED nav; top navigation bar */
nav {
  font-family: variables.$bungee;
  color: variables.$white;
  height: 20%;
  width: 100%;
  background-color: variables.$mustard;
  display: variables.$flex-box;
  justify-content: space-between;
  padding: 1.5em;
  z-index: 100;
  background-image: variables.$transparent-cubes;
  background-position: center left;

  /* TWEETER */
  h1 {
    align-self: center;
    font-size: 36px;
  }

  /* contains <p> and span button */
  #write-tweet {
    flex-direction: column;
    font-family: variables.$source-sans;
  }

  #write-tweet p {
    margin-bottom: 0;
    margin-top: 0;
  }

  /* arrow button to toggle new-tweet form */
  #write-tweet span {
    align-items: center;
    margin-left: 3.25em;
  }

  /* on mouse hover over arrow */
  #write-tweet span:hover {
    transform: translateY(8px);
    translate: transform 400ms ease-in-out;
  }
}


/* Responsive Design */

/* desktop version */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: variables.$blue;
    position: fixed;
    background-image: variables.$none;
    height: 120px;
  }
}

/* print preview */
@media print {
  #write-tweet {
    visibility: variables.$hidden;
  }
}