#user-header {
  padding-top: 120px;
  height: 520px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/cubes.png");
  background-color: #d79922;
}

header img {
  margin-top: 0;
  margin-bottom: 0;
}

header h2 {
  margin-top: 0;
  margin-bottom: 0;
}