/* top navigation bar */
nav {
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5em;
  position: fixed;
  z-index: 100;
}

/* TWEETER */
nav h1 {
  font-family: 'Bungee', sans-serif;
  align-self: center;
  font-size: 36px;
}

/* contains <p> and span button */
#write-tweet {
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  padding-right: 1.5em;
  padding-top: 0.75em;
  justify-content: center;
}

#write-tweet p {
  margin-bottom: 0;
}

/* arrow button to toggle new-tweet form */
#write-tweet span {
  align-items: center;
  padding-left: 3.25em;
}

/* on mouse hover over arrow */
#write-tweet span:hover {
  transform: translateY(8px);
  translate: transform 400ms ease-in-out;
}
