section.new-tweet form {
  display: grid;
  font-weight: bold;
  background-color:#f4f1ec;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr;
  row-gap: 15px;
  margin: 2em 2.8em 0em 2.8em;
}

section.new-tweet textarea {
  grid-row: 1;
  justify-self: end;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 4px solid #545149;
  background-color: transparent;
  padding-left: 2em;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  overflow: hidden;
}

section.new-tweet label {
  grid-row: 1;
  justify-self: start;
  font-family: 'Source Sans Pro', sans-serif;
  border-bottom: 4px solid #545149;
  font-size: larger;
  padding-right: 5em;
}

section.new-tweet button {
  font-family: 'Bungee', sans-serif;
  grid-row: 2;
  justify-self: start;
  width: 4.5em;
  height: 2em;
  color: #FFFFFF;
  background-color: #4056A1;
  border: none;
  border-radius: 10px;
}

form output.counter {
  font-family: 'Bungee', sans-serif;
  justify-self: end;
}


.counter.over-limit {
  grid-row: 2;
  color: red;
}