/* Page colours */
/* Geometric background */
/* Fonts */
/* Displays */
/* Recurring Values */
/* hide new-tweet section on page load */
section.new-tweet {
  display: none;
}

/* new-tweet parent form */
section.new-tweet form {
  display: grid;
  font-weight: bold;
  background-color: #FFFFFF;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 2fr 2fr;
  row-gap: 15px;
  margin: 2em 2.75em 0em 2.75em;
}

/* What are you humming about? */
section.new-tweet label {
  grid-row: 1;
  grid-column: span 2;
  justify-self: start;
  font-family: "Source Sans Pro", sans-serif;
  font-size: larger;
}

/* new tweet text input field */
section.new-tweet textarea {
  width: 100%;
  grid-row: 2;
  grid-column: span 2;
  justify-self: start;
  margin-top: -1em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  border-bottom: #545149 4px solid;
  background-color: transparent;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  overflow: hidden;
}

/* submit tweet button */
section.new-tweet button {
  font-family: "Bungee", sans-serif;
  grid-row: 3;
  justify-self: start;
  width: 4.5em;
  height: 2em;
  color: #FFFFFF;
  background-color: #4056A1;
  border: none;
  border-radius: 10px;
}

/* character counter */
form output.counter {
  grid-row: 3;
  font-family: "Bungee", sans-serif;
  justify-self: end;
}

/* character counter when over limit */
.counter.over-limit {
  grid-row: 3;
  color: red;
}

/* error message */
.new-tweet h3 {
  display: none;
  text-align: left;
  border: red solid 4px;
  font-weight: lighter;
  color: red;
  margin: 2em 2.5em 0em 2.5em;
  padding: 0.5em;
  padding-left: 1em;
}

/* Responsive Design */
/* desktop version */
@media only screen and (min-width: 1024px) {
  section.new-tweet {
    margin-left: 37%;
    margin-top: -9em;
    width: 68%;
  }
}
/* print preview */
@media print {
  section.new-tweet {
    visibility: hidden;
  }
}
